<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <appender name="sunworld-service" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${application.home:-.}/logs/sunworld/sunworld-service.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/sunworld/sunworld.%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>60</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss} [%-5level] [%logger{0}] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="api-service" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${application.home:-.}/logs/apis/api-service.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/apis/api.%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>60</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss} [%-5level] [%logger{0}] - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="ipn-service" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${application.home:-.}/logs/ipn/ipn-service.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/ipn/ipn.%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>60</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss} [%-5level] [%logger{0}] - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="check-status-vnp" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${application.home:-.}/logs/vnp/check-status-vnp.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/vnp/check-status-vnp.%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>60</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss} [%-5level] [%logger{0}] - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="backoffice" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${application.home:-.}/logs/sunworld/back-office.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/sunworld/back-office.%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>60</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss} [%-5level] [%logger{0}] - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss} [%-5level] [%logger] - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${application.home:-.}/logs/all.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/all.%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>60</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss} [%-5level] [%logger{0}] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="sunworld" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${application.home:-.}/logs/sunworld/sunworld_book.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/sunworld/sunworld_book.%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>60</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss} [%-5level] [%logger{0}] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="sunworld_api" level="DEBUG" additivity="false">
    <appender-ref ref="sunworld-service"/>
  </logger>
  <logger name="api-service" level="DEBUG" additivity="false">
    <appender-ref ref="api-service"/>
  </logger>
  <logger name="ipn" level="DEBUG" additivity="false">
    <appender-ref ref="ipn-service"/>
  </logger>
  <logger name="check-status-vnp" level="DEBUG" additivity="false">
    <appender-ref ref="check-status-vnp"/>
  </logger>
  <logger name="backoffice" level="DEBUG" additivity="false">
    <appender-ref ref="backoffice"/>
  </logger>
  <logger name="sunworld" level="INFO" additivity="false">
    <appender-ref ref="sunworld"/>
  </logger>

  <logger name="io.ebean.SUM" level="ERROR"/>
  <logger name="io.ebean.SQL" level="ERROR"/>
  <logger name="io.bean" level="ERROR"/>
  <logger name="sun.net" level="ERROR"/>
  <logger name="com.zaxxer" level="ERROR"/>
  <logger name="com.google" level="ERROR"/>
  <logger name="com.sun" level="ERROR"/>
  <logger name="org.reflections" level="ERROR"/>
  <logger name="ch.qos" level="ERROR"/>
  <logger name="org.hibernate" level="ERROR"/>
  <logger name="javax.xml" level="ERROR"/>
  <logger name="io.ebeaninternal" level="ERROR"/>

  <root level="ALL">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ALL" />
  </root>

</configuration>
